* {
  padding: 0;
  margin: 0;
}
.cabecalho {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
}
.cabecalho .logo {
  width: 100px;
  padding-left: 1rem;
  cursor: pointer;
}
.cabecalho .menu {
  list-style: none;
  display: flex;
  padding: 10 100px;
  margin-left: 18rem;
}
.cabecalho .menu a {

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
  text-decoration: none;
  padding: 8px;
  font-weight: 400;
}
.menu a:hover {
  border-bottom: solid 1px #111111;
}
.cabecalho .btn {
  background-color: #fbea2b;
  margin-left: 18rem;
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}
.cabecalho .btn a {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: #000;
}
.cabecalho .btn:hover {
  border-style: solid;
  box-shadow: 0.5px 0.1px 2px rgb(7, 7, 7);
}
.container {
  height: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  background-color: #fff;
  
}
#slider {
  width: 100%;
  height: 30vw;
  position: relative;
  
}
#slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
#slider img.selected {
  opacity: 1;
}

.conteudo .titulo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  color: #000;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  
}
.conteudo .sub{
  color: #fbea2b;
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
 
}
.conteudo .card {
  width: 15rem;
  height: 30rem;
  position: relative; /*Card é Pai, então por isso é relativo pois o filho irá precisar depois.*/
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin-left: 270px;
  background-color: #dff1df;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  
}
.card-img-wrapper {
  margin-top: 10px;
  margin-left: 20px;
}
.card-img-wrapper img {
  object-fit: cover;
  width: 200px;
  height: auto;
  border-radius: 0.5rem;
  opacity: 1;
  transition: all 0.3s;
  margin-bottom: 5px;
}
.card-info {
  position: absolute;
  bottom: 0;
  text-shadow: 0.1 0.8rem 0.5rem rgba(0, 0, 0, 0.4);
  padding: 2rem;
  transition: all 0.3s;
}
.card-info h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 5px;
}
.card-info p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.1rem;
  margin-bottom: 5px;
}
.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}
.btn-card {
  background-color: #fbea2b;
  padding: 5 10px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.btn-card:hover {
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}
.safe {
  background: #000000;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(50, 50, 50, 1) 35%,
    rgba(108, 108, 108, 1) 100%
  );
  width: 100%;
  height: 22rem;
  display: flex;
  flex-direction: column;
}
.safe .titulo2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  color: #fff;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.safe .conteudo2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #dff1df;
  height: 500px;
  width: 50%;
  align-content: center;
  align-self: center;
  text-align: center;
  display: flex;
  margin-top: 0px;
}
.safe .safe-img {
  height: auto;
  display: flex;
  margin-left: 10px;
  padding: 10 40px;
  align-content: center;
  align-self: center;
  border-top: solid #dff1df;
  cursor: pointer;
  margin-top: 10px;
}
.rodape {
  display: grid;
  background-color: #000;
  height: 5rem;
  width: 100%;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 4rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #dff1df;
  font-size: 12px;
}
.rodape .text-rodape {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
  padding: 10px;
}
.rodape .img-rodape {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  align-self: center;
  opacity: 0.5;
  cursor: pointer;
}
.rodape .direitos {
  background-color: #fbea2b;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  color: #000;
  text-align: center;
  font-size: 12px;
}
.rodape .direitos a {
  text-decoration: none;
  color: #000;
}
.rodape .direitos a:hover {
  text-decoration: underline;
}
@media (max-width:768px) {  
  /* Resolução Tablet */
  .cabecalho{
    display: flex;
    height: 3rem;
    width: 100%;
  }
  .cabecalho .logo{
    display:none;
  }
  .cabecalho .menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 4.5rem;
    margin-left: 90px;
    
  }
  .cabecalho .menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;;
    text-decoration: none;
    font-weight: 400;
    width: 100px;
    margin-left: 10px;
    
    
  }
  .cabecalho .btn {
    background-color: #fbea2b;
    margin-left: 14.5rem;
    width: 8rem;
    height: 2.4rem;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
    font-size: 14px;
  }
  .container {
    display: flex;
    width: 100%;
    margin-top: 0rem;
    height: 350px;
    
  }
  #slider {
    display: flex;
    margin-top: 0rem;
    justify-content: center;
    width: 100%;
    height:30rem;
    position: relative;
    margin-bottom: 0px;

  }
  #slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0rem;
  }
  .conteudo{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 0rem;
    

  }
  .conteudo .titulo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: #000;
    display: flex;
    margin-left: 22px;
    margin-top: 0rem;
    
  
  }
  .conteudo .sub{
    color: #fbea2b;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  }
  .conteudo .card {
    width: 15rem;
    height: 30rem;
    position: relative; /*Card é Pai, então por isso é relativo pois o filho irá precisar depois.*/
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-left: 22px;
    background-color: #dff1df;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    
  }
  .safe {
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
  }
  .safe .titulo2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin-top: 20px;
  }
  .safe .conteudo2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #dff1df;
    height: 0px;
    width: 50%;
    align-content: center;
    align-self: center;
    text-align: center;
    display: flex;
    margin-top: 0px;
    font-size: 14px;
  }
  .safe .safe-img {
    display: none;
  }
  .rodape {
    display: grid;
    background-color: #000;
    height: 3rem;
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 3rem .5rem;
    font-size: 8px;
  }
  .rodape .text-rodape {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    padding: 10px;
  }
  .rodape .img-rodape {
    display: none;
  }
  .rodape .direitos {
    background-color: #fbea2b;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    color: #000;
    text-align: center;
    font-size: 6px;
  }
  .rodape .direitos a {
    text-decoration: none;
    color: #000;
  }
  .rodape .direitos a:hover {
    text-decoration: underline;
}
}
@media (max-width: 640px) {
  /* Resolução Celular*/
  .cabecalho {
    display: flex;
    height: 3rem;
    width: 100%;
  }
  .cabecalho .logo {
    display: none;
  }

  .cabecalho .menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 3rem;
    margin-left: 8px;
  
    
  }
  .cabecalho .menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    width: 70px;
    margin-left: 0px;
    
  }
  .cabecalho .btn {
    background-color: #fbea2b;
    margin-left: .2rem;
    width: 6rem;
    height: 1.5rem;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
    font-size: 12px;
  }
  .container {
    display: flex;
    width: 100%;
    margin-top: 0rem;
    height: 220px;
    
  }
  #slider {
    display: flex;
    margin-top: 0rem;
    justify-content: center;
    width: 100%;
    height:15rem;
    position: relative;
    margin-bottom: 0px;
  }
  #slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0rem;
  }
  .conteudo{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 0rem;
    

  }
  .conteudo .titulo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    margin-top: 0px;
    width: 100%;
    height:50px;
  }

  .conteudo .card {
    width: 15rem;
    height: 30rem;
    position: relative; /*Card é Pai, então por isso é relativo pois o filho irá precisar depois.*/
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-left: 22px;
    background-color: #dff1df;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    
  }
  .safe {
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
  }
  .safe .titulo2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
  }
  .safe .conteudo2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #dff1df;
    height: 0px;
    width: 50%;
    align-content: center;
    align-self: center;
    text-align: center;
    display: flex;
    margin-top: 0px;
  }
  .safe .safe-img {
    display: none;
  }
  .rodape {
    display: grid;
    background-color: #000;
    height: 3rem;
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 3rem .5rem;
    font-size: 8px;
  }
  .rodape .text-rodape {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    padding: 10px;
  }
  .rodape .img-rodape {
    display: none;
  }
  .rodape .direitos {
    background-color: #fbea2b;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    color: #000;
    text-align: center;
    font-size: 6px;
  }
  .rodape .direitos a {
    text-decoration: none;
    color: #000;
  }
  .rodape .direitos a:hover {
    text-decoration: underline;
}
